---
import '../styles/global.css'

const pageTitle = "About"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>as Topography: {pageTitle}</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/as-topography/">home</a>
        <a href="/as-topography/blog/">blog</a>
        <a href="/as-topography/about/">about</a>
      </nav>
      <h1>{pageTitle}</h1>
    </div>
  </body>
</html>