---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>
  <a href="/as-topography/posts/post-1/">Post 1</a>
</BaseLayout>

<!-- <html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <div class="container">
      <h1>Blog</h1>
      <ul>
        <li>
          <a href="/as-topography/posts/post-1/">Post 1</a>
        </li>
      </ul>
      <Footer />
    </div>
    <script>
      import "../scripts/menu.js"
    </script>
  </body>
</html> -->