---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>
  <!-- <a href="/as-topography/posts/on-learning-to-breathe/">On learning to breathe again...</a> -->
</BaseLayout>