---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>
  <!-- <a href="/posts/on-learning-to-breathe/">On learning to breathe again...</a> -->
  <p style="text-align:center">
    Soon...
  </p>
</BaseLayout>