---
import '../styles/global.css';

const pageTitle = "as Topography: Post Index"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/as-topography/">Home</a>
        <a href="/as-topography/blog/">Blog</a>
        <a href="/as-topography/about/">About</a>
      </nav>
      <h1>Blog</h1>
      <ul>
        <li>
          <a href="/as-topography/posts/post-1/">Post 1</a>
        </li>
      </ul>
    </div>
  </body>
</html>