---
import Social from "./Social.astro";
const platform = "github";
const username = "kidcalico";
---

<footer>
  <div>Want to connect?</div>
  <br>
  <div>
    Send me an <a href="mailto:madeby.ryanmatthew@gmail.com">email</a>.
  </div>
  <div>
    Hire me as an <a href="https://ryanmatthew.design/">illustrator</a>.
  </div>
  <div>
    Check out my projects on <Social platform="github" username="kidcalico" />.
  </div>
  <div>
    Follow me on <Social platform="instagram" username="kidcalico" />.
  </div>
</footer>