---
import Social from "./Social.astro";
const platform = "github";
const username = "kidcalico";
---

<footer>
  <div>
    Send me an <a href="mailto:madeby.ryanmatthew@gmail.com">email</a>.
  </div>
  <Social platform="github" username="kidcalico" />
  <Social platform="instagram" username="kidcalico" />
</footer>