---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout>
  <!-- <meta charset="utf-8" /> -->
  <h1>{frontmatter.title}</h1>
  <p>Written by {frontmatter.author}<br />on {frontmatter.pubDate.toString().slice(0,10)}</p>
  <slot />
</BaseLayout>